*{
      color: rgb(88, 88, 88);
      font-family: 'Poppins', sans-serif;
}

body {
      background-color: #e04923;
}

main .h1-principal {
      font-size: 46px;
      color: #e04923;
}

main .h3-principal {
      font-size: 20px;
      color: black;
      padding-bottom: 6px;
}

main p {
      font-size: 20px;
}

main {
      background-color: white;
      width: 560px;
      margin: auto;
      padding: 10px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.486);
}

footer {
      font-size: 20px;
      background-color: white;
      width: 560px;
      margin: auto;
      padding: 10px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.486);
}